body{
    background-color: rgb(255, 255, 255);
}

.navbar-nav a {
    color: rgb(4, 0, 0);
}
#banner{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../imagenes/banner3.jpg');
    height: 500px;
    text-align: center;
    position: relative;
}
.mask{
    width: 100%;
    position: absolute;
    padding: 1,5em 1;
    bottom: 0;
    left: 0;
    background: rgba(27, 27, 27, 0.75);
}

.clientes{
    background: white;
}

.hover {
    overflow: hidden;
    position: relative;
    padding-bottom: 60%;
  }
  
  .hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    transition: all 0.4s;
  }
  
  .hover img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
  }
  
  .hover-content {
    position: relative;
    z-index: 99;
  }

  .hover-4 img {
    width: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .hover-4 .hover-overlay {
    background: rgba(0, 0, 0, 0.4);
    z-index: 90;
  }
  
  .hover-4-title {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 3rem;
    z-index: 99;
  }
  
  .hover-4-description {
    position: absolute;
    top: 2rem;
    left: 2rem;
    text-align: right;
    border-right: 3px solid #fff;
    padding: 0 1rem;
    z-index: 99;
    transform: translateX(-1.5rem);
    opacity: 0;
    transition: all 0.3s;
  }
  
  @media (min-width: 992px) {
    .hover-4-description {
      width: 50%;
    }
  }
  
  .hover-4:hover img {
    width: 100%;
  }
  
  .hover-4:hover::after {
    opacity: 1;
    transform: none;
  }
  
  .hover-4:hover .hover-4-description {
    opacity: 1;
    transform: none;
  }
  
  .hover-4:hover .hover-overlay {
    background: rgba(0, 0, 0, 0.8);
  }
  
  
  body {
    min-height: 100vh;
    background-color: #fafafa;
  }

.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.btn-floating i {
    display: inline-block;
    width: inherit;
    color: rgb(6, 0, 0);
    text-align: center;
    font-size: 1.25rem;
    line-height: 47px;
}


.image {
    border: 0;
    display: inline-block;
    position: relative;
    border-radius: 5px;
}

    .image img {
        display: block;
        border-radius: 5px;
        width: 50px; height: 50px;
    }

    .image.left {
        display: block;
        float: left;
        margin: 0 2em 2em 0;
        position: relative;
        top: 0.25em;
    }

        .image.left img {
            display: block;
            width: 100%;
        }

    .image.fit {
        display: block;
    }

        .image.fit img {
            display: block;
            width: 100%;
        }

    .image.featured {
        display: block;
        margin: 0 0 2em 0;
    }

        .image.featured img {
            display: block;
            width: 100%;
        }
